@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
canvas {
    top: 0;
    left: 0;
    position: fixed;
}

body {
    font-family: 'Signika Negative', sans-serif;
}


/* bg */

.bg {
    position: fixed;
    z-index: -1;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}

.stars {
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}

.twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    -moz-animation: move-background 30s linear infinite;
    -ms-animation: move-background 30s linear infinite;
    -o-animation: move-background 30s linear infinite;
    -webkit-animation: move-background 30s linear infinite;
    animation: move-background 30s linear infinite;
}


/* about */

.about {
    padding-top: 8vh;
    margin-right: 18vw;
    margin-left: 18vw;
    text-align: left;
}

.about h1 {
    color: rgb(222, 224, 226);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 3rem;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 40px;
}

.about hr {
    background-color: aliceblue;
    margin-bottom: 2rem;
    border-radius: 5px;
    border: hidden;
    margin: 2px;
    height: 3px;
    width: 100%;
}


/* header */

.content {
    position: fixed;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    letter-spacing: 2px;
    color: aliceblue;
    margin: 16px 0;
    display: flex;
    height: 45px;
    width: 100%;
    z-index: 99;
}

.content ul {
    justify-content: space-around;
    margin-right: 40px;
    list-style: none;
    display: flex;
    z-index: 99;
    width: 13%;
}

.content h1 {
    margin-left: 40px;
    z-index: 99;
    cursor: default;
    font-size: 30px;
}

.content a {
    color: aliceblue;
    text-decoration: none;
    transition: .3s;
}

.content a:hover {
    color: rgb(177, 177, 177);
    cursor: pointer;
}

.outro h1 {
    color: aliceblue;
    margin-left: 10rem;
    margin-right: 40rem;
    letter-spacing: 2px;
    font-weight: 100;
    font-style: italic;
    font-size: 30px;
}

.space {
    height: 496rem;
}

.stt-container {
    text-decoration: none;
    color: aliceblue;
    bottom: 30px;
    right: 30px;
    position: fixed;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    box-shadow: 0 0 5px 3px rgb(199, 199, 199);
    text-align: center;
    font-size: 25px;
    transition: 0.5s;
    background-color: #313131;
}

.stt {
    margin-top: 11px;
}

.stt-container:hover {
    box-shadow: 0 0 5px 5px rgb(199, 199, 199);
    cursor: pointer;
}

.chat {
    display: none;
    position: fixed;
    width: 313px;
    height: 492px;
    right: 50px;
    bottom: 50px;
    box-shadow: 0 0 5px 3px rgb(199, 199, 199);
    background: #313131;
    border-radius: 17px;
    transition: .5s;
    padding: 12px;
}

.chat .chat-area {
    font-family: 'Signika Negative', sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    padding-left: 6px;
    position: absolute;
    left: 12px;
    bottom: 13px;
    width: 82%;
    resize: none;
    height: 24px;
    border-radius: 7px;
}


/* about */

.abt-con {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 20px;
    height: auto;
    color: rgb(193, 193, 193);
    letter-spacing: 1px;
}

.dev {
    position: relative;
    overflow: hidden;
    width: 292px;
    min-height: 518px;
    background: #313131;
    border-radius: 24px;
    padding: 20px;
    margin: 30px;
    height: auto;
}

.large-details {
    display: flex;
    overflow: hidden;
}

.abt img {
    background-color: #313131;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid #FFFFFF;
    filter: drop-shadow(0px 7px 40px #000000);
    position: absolute;
    width: 144px;
    height: 144px;
    position: absolute;
    z-index: 10;
    margin-left: 7.1rem;
    top: 13.5rem;
}

.details {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.details h2 {
    font-size: 32px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.about {
    height: 63%;
    overflow: hidden;
    white-space: pre-wrap;
    margin-top: 14px;
}

.about p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.about-dev p {
    margin-bottom: 0;
}

.media i {
    margin: 0 14px;
    font-size: 25px;
    color: rgb(186, 186, 186);
}

.media i:hover {
    color: rgb(130, 130, 130);
    transition: .5s;
}


/* Scroll Bar */

::-webkit-Scrollbar {
    width: 10px;
}

::-webkit-Scrollbar-thumb {
    border-radius: 10px;
    background: rgb(142, 142, 142);
}

::-webkit-Scrollbar-track {
    border-radius: 10px;
}

@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-moz-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}